body{
    background: #f69679;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
}

#titre{
    text-align: center;
    padding-top: 20px;
}

h1{
    height:auto;
    font-size: 80px;
}

#texte{
text-align: center;
padding-top: 20%;
}

#img_div_soleil{
    text-align: center;
    padding-top: 5%;
}

.img_soleil{
    height: auto;
    max-width : 100%;
}

#footer{
    bottom: 0;
    position: fixed;
}

.nuage404{
    height: auto;
    max-width : 100%;
}